/*Hamza Code Starts Here*/

.tables_of_expenditures {
  height: 300px;
  /* margin: 0 auto; */
  overflow: auto;
  width: auto;
  position: relative;
}



.table_headings_exp {
    background-color: rgb(19, 83, 125);
    border: 1px solid #ccc; */
    color: #ffffff;
    font-weight: normal;
    /* padding: 2px 4px; */
    text-align: center;
    min-width: 160px;
    vertical-align: middle !important;
    color: white;
    height: 30px !important;
}




.celda_normal_table {
    /*background-color: #fff;*/
    border: 1px solid #ccc;
    width: 160px;
    text-align: center;
    /* padding: 2px 4px; */    
}

.celda_normal_footer
{
  background-color: rgb(19,83,125);
  color: white;
  font-family: calibri;
  text-align: center;

}


.total-label_footer
{
  background-color: rgb(19,83,125);
  color: white;
  font-family: calibri;
  text-align: center;
}


.total-label_exp
{
	background-color: white;
	color: rgb(99,87,85);
	text-align: center;
}
.tooltip i
{
position: relative;
top: -12px;
left: 110px;
font-size: 32px;
color: #FFF;
}
.tooltext
{
 display: block;
position: absolute;
z-index: 1;
color: red;
font-size: 16px;
text-shadow: 0px 0px 1px #0006;
}
/* Hamza Code ends Here */